<!DOCTYPE html>
<html>

	{% include head.html %}

		<body>

		{% include header.html %}

		<!-- create tabs -->
		<div class="container-fluid">
			<div class="col-sm-12 page-header">
				<!-- Project Name -->
				{% for project in site.projects %}
					{% if project.home %}
						{% if project.project == page.project %}
							<h1 >{{ project.title }}</h1>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>

			<!-- Project Tabs -->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li {% if page.home %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/">Home</a>
					</li>
					<li {% if page.title == 'Bill of Materials' %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/bom.html">Bill of Materials</a>
					</li>
					<li {% if page.title == 'CAD and Drawings' %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/cad.html">CAD Files</a>
					</li>
					<li {% if page.title == 'Instructions' %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/instructions.html">Instructions</a>
					</li>
					<li {% if page.title == 'Changelog' %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/changelog.html">Changelog</a>
					</li>
					<li {% if page.title == 'Frequenty Asked Questions' %} class="active" {% endif %}>
						<a href="/projects/{{ page.project }}/faq.html">FAQ</a>
					</li>
				</ul>
				
			</div>
		</div>

		<!-- display page content -->
		<div class="container-fluid">
			{{ content }}
		</div>

		{% include footer.html %}

		</body>
</html>