<!DOCTYPE html>
<html>

	{% include head.html %}

		<body>

		{% include header.html %}

		<!-- create tabs -->
		<div class="page-content">
			<div class="wrap">
				<!-- Project Name -->
				{% for project in site.projects %}
					{% if project.home %}
						{% if project.project == page.project %}
							<h1>{{ project.title }}</h1>
						{% endif %}
					{% endif %}
				{% endfor %}

				<!-- Project Tabs -->
				<a href="/projects/{{ page.project }}/">Home</a>
				<a href="/projects/{{ page.project }}/bom.html">Bill of Materials</a>
				<a href="/projects/{{ page.project }}/cad.html">CAD Files</a>
				<a href="/projects/{{ page.project }}/instructions.html">Instructions</a>
				<a href="/projects/{{ page.project }}/changelog.html">Changelog</a>
				<a href="/projects/{{ page.project }}/faq.html">FAQ</a>
			</div>
		</div>

		<!-- display page content -->
		<div class="page-content">
			<div class="wrap">
			{{ content }}
			</div>
		</div>

		{% include footer.html %}

		</body>
</html>